@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

/* tirando a bolinha dos itens de lista */
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}

h1 {
  font-size: 3.5rem;
  line-height: 50px;
  font-weight: 900 !important;
}

h2 {
  font-size: 3.875rem;
  margin-bottom: 2%;
}

h3 {
  color: #3C4758;
  font-size: 1.125em;
  margin-bottom: 3%;
}

p {
  font-size: 1.125rem;
}

.tamanho {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  max-width: 1280px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

hr {
  width: 15%;
  border: 0;
  border-top: 6px solid #F54444;
  border-radius: 100px;
  margin: 20px 0;
}

.form-zap {
  padding: 1% 0;
  background-color: #fff;
  height: 100%;
  min-width: 350px;
  width: 100%;
  max-width: 420px;
  border-radius: 13px;
}

.form-zap .card {
  margin: 20px;
}

.form-zap form input {
  border: 1px solid #7C7C7C;
  border-radius: 13px;
  height: 35px;
  width: 100%;
  color: #7C7C7C;
}

.form-zap form input::-webkit-input-placeholder {
  padding: 10px;
  font-family: 'Nunito Sans', sans-serif;
}

.form-zap form input:-ms-input-placeholder {
  padding: 10px;
  font-family: 'Nunito Sans', sans-serif;
}

.form-zap form input::-ms-input-placeholder {
  padding: 10px;
  font-family: 'Nunito Sans', sans-serif;
}

.form-zap form input::placeholder {
  padding: 10px;
  font-family: 'Nunito Sans', sans-serif;
}

.form-zap form input + input {
  margin-top: 15px;
}

.form-zap form .botao {
  margin: 0 auto;
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 49px;
  background: #34AF23;
  -webkit-box-shadow: 2px 10px 20px 1px rgba(40, 193, 19, 0.4);
          box-shadow: 2px 10px 20px 1px rgba(40, 193, 19, 0.4);
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 25px;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.form-zap form .botao img {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 10px;
}

.form-zap form .botao:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.container {
  width: 95%;
  max-width: 1280px;
  min-width: 300px;
  margin: 0 auto;
}

.smal {
  grid-column: span 1;
}

.wide {
  grid-column: span 2;
}

.smalTal {
  grid-column: span 1;
  grid-row: span 1;
}

.tall {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

.bold {
  font-weight: 700;
}

.destaque {
  color: #F64444;
}

header {
  position: fixed;
  background-color: transparent;
  width: 100%;
  z-index: 999999;
}

header .tamanho {
  padding: 25px 0;
  margin: 0 auto;
  width: 90%;
  max-width: 1230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .tamanho nav.desktop {
  padding-right: 15px;
  height: auto;
}

header .tamanho nav.desktop span {
  padding: 8px 15px;
  font-size: 1.5rem;
  font-weight: normal;
}

header .tamanho nav.desktop span a {
  padding: 4px 10px;
}

header .tamanho nav.desktop .ativado {
  background-color: #fff;
  border-radius: 50px;
}

header .tamanho nav.desktop .ativado a {
  color: #000;
  font-weight: 800;
}

header .tamanho nav.desktop span + span {
  margin-left: 20px;
}

header .tamanho nav.mobile {
  display: none;
  width: 100%;
  max-width: 150px;
  z-index: 10;
  /* estaou configurando as classes para add ou remover a animação */
}

header .tamanho nav.mobile .nav-conteudo-mobile {
  -webkit-transform: translateX(101%);
          transform: translateX(101%);
  /* Se inicia assim que que fique fora da base visual e a animação acontecer */
  -webkit-animation: menu-mobile 1s ease-in forwards;
          animation: menu-mobile 1s ease-in forwards;
  position: absolute;
  width: 60vw;
  max-width: 200px;
  height: 100vh;
  right: 0;
  top: 0;
  background-color: #3c4758ef;
}

header .tamanho nav.mobile .nav-conteudo-mobile > div {
  margin: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .tamanho nav.mobile .nav-conteudo-mobile span {
  padding: 5px;
  width: 100%;
}

header .tamanho nav.mobile .nav-conteudo-mobile #menu-chose {
  margin-bottom: 1rem;
}

header .tamanho nav.mobile .entrada {
  -webkit-animation: menu-mobile-entrada .7s ease-in forwards;
          animation: menu-mobile-entrada .7s ease-in forwards;
}

header .tamanho nav.mobile .saida {
  -webkit-animation: menu-mobile-saida .7s ease-in forwards;
          animation: menu-mobile-saida .7s ease-in forwards;
}

header .tamanho nav.mobile .show-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .tamanho nav.mobile img {
  margin: 0 auto;
  border-radius: 0;
  cursor: pointer;
}

.ativo {
  background-color: #282828;
  -webkit-transition: 1s;
  transition: 1s;
}

.transparente {
  background-color: #ffffff00;
  -webkit-transition: .8s;
  transition: .8s;
}

footer {
  background: #040404CC;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 25px;
  color: #fff;
}

footer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1100px;
  width: 100%;
}

footer > div > div span {
  font-weight: 700;
}

footer .social .social-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .social .social-logo img {
  height: 30px;
  width: 30px;
}

footer .social .social-logo img + img {
  margin-left: 15px;
}

footer p {
  margin-top: 10px;
  font-size: 0.813rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 138%;
}

footer .cop {
  margin-top: 10px;
  font-weight: 400;
  font-size: 0.75rem;
}

#home #banner {
  background: url(../img/banner/banner.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #282828;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#home #banner .tamanho {
  height: auto;
  min-height: 568px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#home #banner .banner-content {
  margin-bottom: 65px;
}

#home #banner .banner-content p {
  font-size: 1.5rem;
  margin: 20px 0;
  line-height: 25px;
}

#home #banner .banner-content .banner-botoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#home #banner .banner-content .banner-botoes div {
  width: 100%;
  height: 48px;
  max-width: 177px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 800;
  background-color: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(249, 44, 44, 0.5);
          box-shadow: 0px 4px 4px rgba(249, 44, 44, 0.5);
  border-radius: 100px;
  border: 2px solid #F64444;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

#home #banner .banner-content .banner-botoes div:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#home #banner .banner-content .banner-botoes .fale {
  background-color: #F64444;
}

#home #banner .banner-img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#home #banner .banner-img h3 {
  font-weight: 900;
  color: #282828;
  font-size: 2.5rem;
}

#home #servicos .tamanho-servicos {
  margin: 0 auto;
  padding: 2% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1048px;
}

#home #servicos .tamanho-servicos h2, #home #servicos .tamanho-servicos h4 {
  color: #3C4758;
}

#home #servicos .tamanho-servicos h4 {
  width: 60%;
  text-align: center;
}

#home #servicos .tamanho-servicos .move,
#home #servicos .tamanho-servicos .stop,
#home #servicos .tamanho-servicos .palotamento {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-auto-rows: auto;
  row-gap: 15px;
  -webkit-column-gap: 5%;
          column-gap: 5%;
  margin-top: 20px;
}

#home #servicos .tamanho-servicos .move img,
#home #servicos .tamanho-servicos .stop img,
#home #servicos .tamanho-servicos .palotamento img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  grid-area: img;
  border-radius: 100%;
}

#home #servicos .tamanho-servicos .move h3,
#home #servicos .tamanho-servicos .stop h3,
#home #servicos .tamanho-servicos .palotamento h3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: titulo;
  -ms-flex-item-align: end;
      align-self: end;
  font-style: italic;
  font-weight: 800;
  font-size: 2.625rem;
  margin: 0;
}

#home #servicos .tamanho-servicos .move p,
#home #servicos .tamanho-servicos .stop p,
#home #servicos .tamanho-servicos .palotamento p {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: texto;
  font-size: 1.125rem;
  color: #3C4758;
}

#home #servicos .tamanho-servicos .move div,
#home #servicos .tamanho-servicos .stop div,
#home #servicos .tamanho-servicos .palotamento div {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: botao;
  -ms-flex-item-align: start;
      align-self: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 196px;
  height: 34px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 15px 30px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 15px 30px 1px rgba(0, 0, 0, 0.15);
  border-radius: 99px;
  font-style: normal;
  font-weight: bold;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

#home #servicos .tamanho-servicos .move div a,
#home #servicos .tamanho-servicos .stop div a,
#home #servicos .tamanho-servicos .palotamento div a {
  color: #3C4758;
}

#home #servicos .tamanho-servicos .move div:hover,
#home #servicos .tamanho-servicos .stop div:hover,
#home #servicos .tamanho-servicos .palotamento div:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#home #servicos .tamanho-servicos .stop {
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
      grid-template-areas: "titulo img" "texto img" "botao img";
  text-align: right;
}

#home #servicos .tamanho-servicos .stop p {
  margin-left: 75px;
}

#home #servicos .tamanho-servicos .stop div {
  -ms-grid-column-align: end;
      justify-self: end;
}

#home #servicos .tamanho-servicos .move,
#home #servicos .tamanho-servicos .palotamento {
      grid-template-areas: "img titulo" "img texto" "img botao";
}

#home #servicos .tamanho-servicos .move p,
#home #servicos .tamanho-servicos .palotamento p {
  margin-right: 75px;
}

#home #testemunho {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  min-height: 491px;
  background: conic-gradient(from 180deg at 50% 50%, #282828 0deg, #4F4C4C 69.37deg, #474747 91.88deg, #282828 360deg);
}

#home #testemunho .titulo {
  margin-bottom: 50px;
  text-align: center;
}

#home #testemunho .titulo h1 {
  color: #fff;
}

#home #testemunho .titulo h1 .destaque {
  color: #F64444;
}

#home #testemunho .tamanho-testemunho {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#home #testemunho .tamanho-testemunho .carousel-testemunho {
  width: 100%;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#home #testemunho .tamanho-testemunho .carousel-testemunho .card-carousel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15px 1fr 2fr 15px;
      grid-template-columns: 15px 1fr 2fr 15px;
  -ms-grid-rows: 30px 40px 40px 30px;
      grid-template-rows: 30px 40px 40px 30px;
      grid-template-areas: "seta-esquerda img star      seta-direita" "seta-esquerda img titulo    seta-direita" "seta-esquerda img subtitulo seta-direita" "seta-esquerda img avaliacao seta-direita";
  -webkit-column-gap: 15px;
          column-gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 10px;
  width: 473px;
  padding: 15px;
  margin: 10px;
}

#home #testemunho .tamanho-testemunho .carousel-testemunho .card-carousel .foto-cliente {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  grid-area: img;
  width: 100%;
}

#home #testemunho .tamanho-testemunho .carousel-testemunho .card-carousel .star {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: star;
}

#home #testemunho .tamanho-testemunho .carousel-testemunho .card-carousel .titulo-carousel {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: titulo;
  font-weight: 900;
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 0.8);
}

#home #testemunho .tamanho-testemunho .carousel-testemunho .card-carousel .subtitulo {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: subtitulo;
  font-weight: bold;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}

#home #testemunho .tamanho-testemunho .carousel-testemunho .card-carousel .avaliacao {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: avaliacao;
  font-weight: 300;
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.8);
}

#home #testemunho .tamanho-testemunho .carousel-testemunho .card-carousel .seta-direita {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 4;
  grid-area: seta-direita;
  -ms-grid-column-align: end;
      justify-self: end;
}

#home #testemunho .tamanho-testemunho .carousel-testemunho .card-carousel .seta-esquerda {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: seta-esquerda;
}

#home #zap {
  background: url(../img/zap/back.svg);
  background-size: cover;
  height: auto;
  min-height: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

#home #zap .conteiner {
  width: 90%;
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#home #zap .conteiner .titulo {
  width: 100%;
  max-width: 400px;
}

#home #zap .conteiner .titulo h3 {
  color: inherit;
  font-weight: 900;
  line-height: 50px;
}

#home #zap .conteiner .titulo p {
  font-weight: 600;
  font-size: 24px;
  line-height: 25px;
}

#home #zap .conteiner h3 {
  font-weight: 900;
  color: #282828;
  font-size: 2.5rem;
}

#home #case {
  color: #3C4758;
}

#home #case .conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home #case .conteiner .titulo {
  width: 50%;
  text-align: center;
  padding-bottom: 20px;
}

#home #case .conteiner .fotos {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 25px;
  -ms-grid-columns: minmax(250px, 1fr) 100px minmax(250px, 1fr);
      grid-template-columns: minmax(250px, 1fr) 100px minmax(250px, 1fr);
  -ms-grid-rows: 300px 120px 220px;
      grid-template-rows: 300px 120px 220px;
  grid-auto-rows: 150px;
  grid-auto-flow: dense;
}

#home #case .conteiner .fotos > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home #case .conteiner .fotos > div > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

#home #case .conteiner .fotos .hover {
  position: relative;
}

#home #case .conteiner .fotos .hover > div {
  border-radius: 5px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f54444d2;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  opacity: 0;
  -webkit-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

#home #case .conteiner .fotos .hover > div h1 {
  font-size: 2rem;
}

#home #case .conteiner .fotos .hover > div p {
  width: 80%;
}

#home #case .conteiner .fotos .hover > div > a {
  height: auto;
  width: 100%;
  max-width: 200px;
  border: 1px solid;
  padding: 1% 0%;
}

#home #case .conteiner .fotos .hover > div:hover {
  opacity: 1;
  -webkit-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

#home #parceiros .container {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1088px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home #parceiros .container .titulo h2 {
  margin: 0;
}

#home #parceiros .container .logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home #parceiros .container .logo > div {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

#home #parceiros .container .logo > div img {
  width: 150px;
  max-height: 150px;
  margin: 10px;
}

#home #parceiros .container hr {
  width: 10%;
}

#home #mapa .conteiner {
  margin: 0 auto;
  padding: 40px 0;
  width: 90%;
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #282828;
}

#home #mapa .conteiner > div #mapa-1 {
  width: 500px;
  height: 300px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.164);
          box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.164);
}

#home #mapa .conteiner > div h4 {
  font-size: 2.5rem;
}

#home #mapa .conteiner > div span {
  font-size: 1.5rem;
}

#home #mapa .conteiner > div p {
  line-height: 30px;
  padding: 10px 0;
  font-size: 1rem;
}

#ambiente {
  padding: 2% 0;
}

#ambiente .container {
  color: #3C4758;
}

#ambiente .container .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#ambiente .container .titulo .menor {
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
}

#ambiente .container .titulo2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#ambiente .container .titulo2 h2 {
  font-size: 3rem;
}

#ambiente .container .content {
  width: 100%;
  min-width: 300px;
  display: -ms-grid;
  display: grid;
  grid-gap: 25px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
}

#ambiente .container .content > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#ambiente .container .content > div > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

#ambiente .container .botao {
  margin-top: 20px;
  color: #3C4758;
  background-color: #F64444;
  -webkit-box-shadow: 0px 4px 4px rgba(249, 44, 44, 0.5);
          box-shadow: 0px 4px 4px rgba(249, 44, 44, 0.5);
  padding: 10px 0;
  width: 80%;
  min-width: 280px;
  max-width: 350px;
  border-radius: 10px;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

#ambiente .container .botao a {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 5px 5%;
}

#ambiente .container .botao:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#service #banner {
  background: url(../img/banner/bannerServico.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90vh;
  min-height: 350px;
}

#servicos .container {
  width: 100vw;
  height: 10%;
  text-align: center;
  color: #343434;
}

#servicos .container h2 {
  margin: 0;
}

#servicos .container h4 {
  font-size: 1.3rem;
  font-weight: 500;
}

#servicos .content {
  width: 100%;
  min-width: 300px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
}

#servicos .content > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#servicos .content > div > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

#servicos .content .big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#servicos .content .big p {
  width: 90%;
  min-width: 310px;
}

#servicos .content .big h3 {
  width: 90%;
  font-size: 2.2rem;
}

#servicos .content .cor {
  background-color: #343434;
  color: #fff;
}

#servicos .content .cor h3 {
  color: inherit;
}

#servicos .content .cor p {
  font-weight: 300;
}

#voce {
  position: relative;
  color: #3C4758;
}

#voce .container {
  height: auto;
  min-height: 70vh;
  max-width: 75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  padding: 2% 0;
}

#voce .container .youtube {
  z-index: 2;
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 60%;
  height: 60vh;
  min-width: 315px;
}

#voce .container .texto {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35%;
  min-width: 315px;
  height: 100%;
  padding: 2%;
}

#voce .container .texto h3 {
  width: 100%;
  font-size: 1.7rem;
}

#voce .container .texto span {
  width: 100%;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 5%;
}

#voce .container .texto .botao {
  margin: 2% 0;
  background: #F64444;
  -webkit-box-shadow: 0px 4px 4px rgba(249, 44, 44, 0.5);
          box-shadow: 0px 4px 4px rgba(249, 44, 44, 0.5);
  width: 50%;
  text-align: center;
  padding: 2%;
  border-radius: 5px;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

#voce .container .texto .botao a {
  padding: 1% 10%;
}

#voce .container .texto .botao:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#voce .fundo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

#voce .fundo .content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#voce .fundo .fundoMaior {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}

#voce .fundo .fundoMenor {
  z-index: 0;
  position: absolute;
  width: auto;
  top: 0;
  right: 0;
}

#orcamento {
  padding: 2% 0;
}

#orcamento .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
}

#orcamento .container .text {
  width: 50%;
  min-width: 310px;
  margin: 2%;
}

#orcamento .container .text h3 {
  font-size: 2.3rem;
}

#orcamento .container .form-zap {
  background-color: #3A3A3A;
}

#orcamento .container .form-zap h3 {
  color: #fff;
}

#orcamento .container .form-zap form > div span {
  color: #fff;
  font-size: 1rem;
}

#desafio {
  padding: 2% 0;
  color: #3C4758;
}

#desafio .container {
  min-height: 75vh;
  height: auto;
}

#desafio .container h1 {
  margin: 1% 0;
  font-weight: 500;
  font-size: 2.5rem;
}

#desafio .container p {
  font-weight: 300;
}

#desafio .container div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#desafio .container div:first-child > div {
  width: 45%;
  min-width: 320px;
  margin: 5px;
}

#desafio .container div:first-child > div img {
  height: auto;
  max-height: 400px;
  min-width: 350px;
}

#desafio .container div:first-child > div .botao {
  margin: 3% 0;
  padding: 2% 0;
  width: 50%;
  min-width: 310px;
  -webkit-box-shadow: 0px 15px 30px 1px #00000026;
          box-shadow: 0px 15px 30px 1px #00000026;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

#desafio .container div:first-child > div .botao a {
  font-size: 1.25rem;
  font-weight: 600;
  color: #000;
  padding: 1% 5%;
}

#desafio .container div:first-child > div .botao:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#nossosCases aside {
  height: 130px;
  background-color: #000;
}

#trabalhe {
  background: url(../img/banner/bannerTrabalho.jpg) no-repeat;
  background-size: 100% 100%;
  height: 425px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#trabalhe .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  text-align: center;
}

#trabalhe .container h1 {
  font-weight: 400;
  margin-bottom: 5%;
}

#trabalhe .container p {
  margin: 1% 0;
}

#trabalhe .container .botao {
  margin: 1% 0;
  padding: 1% 0;
  width: 20%;
  min-width: 310px;
  background-color: #F64444;
  -webkit-box-shadow: 0px 4px 4px rgba(249, 44, 44, 0.5);
          box-shadow: 0px 4px 4px rgba(249, 44, 44, 0.5);
  border-radius: 100px;
}

#slide {
  padding: 2% 0;
  color: #3C4758;
}

#slide .titulo {
  text-align: center;
  font-size: 1.8rem;
}

#slide .containerSlide {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.swiper {
  margin: 0 !important;
  width: 90%;
  height: auto;
}

.swiper .swiper-slide {
  width: 26%;
  max-width: 350px;
  min-width: 310px;
  min-height: 250px;
}

.swiper .swiper-slide img {
  width: 100%;
  height: 100%;
}

#contato #banner {
  background: url(../img/banner/bannerContato.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 95vh;
  min-height: 350px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#contato #banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

#contato #banner .container img {
  height: 100px;
  margin-bottom: 3%;
}

#contato #banner .container h1 {
  margin: 1%;
}

#contato #banner .container p {
  font-weight: 300;
  margin: 1%;
}

#form {
  padding-bottom: 5%;
}

#form .container {
  margin-top: -7%;
  width: 90%;
  max-width: 1000px;
}

#form .container .content {
  border-radius: 10px;
  padding: 3% 2%;
  background-color: #353535;
  color: #fff;
}

#form .container .content h2 {
  font-size: 2.5rem;
}

#form .container .content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#form .container .content form label {
  font-size: 1rem;
  font-weight: 300;
  padding-left: 1%;
}

#form .container .content form label + input {
  margin-bottom: 2%;
}

#form .container .content form > .inputForm {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #7c7c7c;
  padding: 10px 2px;
  font-size: 1.2rem;
}

#form .container .content form > textarea {
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 10px 2px;
}

#form .container .content form .botao {
  margin: 15px auto 0 auto;
  width: 50%;
  min-width: 300px;
  padding: 1% 0;
  background: #F64444;
  -webkit-box-shadow: 0px 4px 4px rgba(249, 44, 44, 0.5);
          box-shadow: 0px 4px 4px rgba(249, 44, 44, 0.5);
  border-radius: 100px;
  color: #fff;
  font-size: 24px;
  border: 0;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

#form .container .content form .botao:hover {
  background: #e02c2c;
}

@-webkit-keyframes menu-mobile-entrada {
  from {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes menu-mobile-entrada {
  from {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes menu-mobile-saida {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
  }
}

@keyframes menu-mobile-saida {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
  }
}

.js-scroll {
  opacity: 0;
  -webkit-transform: translate3d(-50px, 0, 0);
          transform: translate3d(-50px, 0, 0);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.js-scroll.js-ativo {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

@keyframes menu-mobile-entrada {
  from {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes menu-mobile-saida {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
  }
}

.js-scroll {
  opacity: 0;
  -webkit-transform: translate3d(-50px, 0, 0);
          transform: translate3d(-50px, 0, 0);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.js-scroll.js-ativo {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

@media (max-width: 460px) {
  #home #banner {
    padding-top: 90px;
    padding-bottom: 0 !important;
  }
  #home #banner .banner-content {
    margin: 0 50px;
    margin-top: 50px;
    width: 100vw !important;
  }
  #home #banner .banner-content h1 {
    font-size: 2.5rem !important;
  }
  #home #banner .banner-content p {
    font-size: 1.3rem;
  }
  #home #banner .banner-content .banner-botoes {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  #home #banner .banner-content .banner-botoes div {
    font-size: 1.4rem;
    font-weight: 600;
  }
  #home #banner .banner-content .banner-botoes div + div {
    margin-top: 15px;
  }
  #slide .titulo h2 {
    font-size: 2rem !important;
    line-height: 2rem;
  }
}

@media (max-width: 500px) {
  #home #testemunho {
    padding: 20px 0;
  }
  #home #testemunho .titulo h1 {
    font-size: 2.5rem;
  }
  #home #testemunho .tamanho-testemunho .carousel-testemunho {
    max-width: 90vw;
  }
  #home #testemunho .tamanho-testemunho .carousel-testemunho .card-carousel {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -ms-grid-columns: 15px 1fr 2fr 15px;
        grid-template-columns: 15px 1fr 2fr 15px;
    -ms-grid-rows: 30px auto auto auto auto;
        grid-template-rows: 30px auto auto auto auto;
        grid-template-areas: "seta-esquerda star star      seta-direita" "seta-esquerda img img   seta-direita" "seta-esquerda titulo titulo    seta-direita" "seta-esquerda subtitulo subtitulo seta-direita" "seta-esquerda avaliacao avaliacao seta-direita";
    padding: 15px;
    margin: 10px;
    gap: 5px;
    text-align: center;
    line-height: 35px;
  }
  #home #testemunho .tamanho-testemunho .carousel-testemunho .card-carousel .foto-cliente {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: img;
    height: 150px;
    width: 150px;
  }
  #home #mapa .conteiner > div #mapa-1 {
    width: 90vw;
    height: 300px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.164);
            box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.164);
  }
  #home #case .conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #home #case .conteiner .titulo {
    width: 90vw;
    text-align: center;
    padding-bottom: 20px;
  }
  #home #zap {
    background: url("/img/zap/back.svg");
    background-size: cover;
    height: auto;
    min-height: 520px;
    padding: 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff;
  }
  #home #zap .conteiner .titulo h3 {
    font-size: 2.2rem;
  }
  #home #zap .conteiner .titulo p {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 25px;
  }
  #home #zap .conteiner h3 {
    font-weight: 900;
    color: #282828;
    font-size: 2.5rem;
  }
  .form-zap {
    background-color: #fff;
    height: 100%;
    min-width: 90%;
    width: 100%;
    max-width: 420px;
    border-radius: 13px;
  }
  .form-zap .card {
    margin: 20px;
  }
  .form-zap form .botao {
    margin: 0 auto;
    margin-top: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    height: 100%;
    min-height: 49px;
    background: #34AF23;
    -webkit-box-shadow: 2px 10px 20px 1px rgba(40, 193, 19, 0.4);
            box-shadow: 2px 10px 20px 1px rgba(40, 193, 19, 0.4);
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 25px;
  }
  .form-zap form .botao img {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 10px;
  }
  #contato #banner .container h1 {
    font-size: 2.2rem;
  }
}

@media (max-width: 550px) {
  footer > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    max-width: 1100px;
    width: 100%;
  }
  footer > div > div {
    padding: 10px 0;
  }
  footer > div > div span {
    font-weight: 700;
  }
}

@media (max-width: 725px) {
  #slide .titulo {
    text-align: center;
    font-size: 1.3rem;
    line-height: 3rem;
  }
  #home #servicos .tamanho-servicos .move,
  #home #servicos .tamanho-servicos .stop,
  #home #servicos .tamanho-servicos .palotamento {
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "titulo titulo" "img img" "texto texto" "botao botao";
    justify-items: center;
    text-align: center;
  }
  #home #servicos .tamanho-servicos .move div,
  #home #servicos .tamanho-servicos .stop div,
  #home #servicos .tamanho-servicos .palotamento div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #home #servicos .tamanho-servicos .move p,
  #home #servicos .tamanho-servicos .stop p,
  #home #servicos .tamanho-servicos .palotamento p {
    margin: 0 10%;
  }
  #home #servicos .tamanho-servicos .stop div {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #home #case .conteiner .fotos {
    width: 100%;
    display: -ms-grid;
    display: grid;
    grid-gap: 25px;
    -ms-grid-columns: 1fr 100px 1fr;
        grid-template-columns: 1fr 100px 1fr;
    -ms-grid-rows: minmax(auto, 150px);
        grid-template-rows: minmax(auto, 150px);
    grid-auto-rows: minmax(auto, 150px);
  }
  #home #case .conteiner .fotos > div > img {
    max-width: 300px;
  }
  #home #case .conteiner .fotos .smal {
    grid-column: span 3;
  }
  #home #case .conteiner .fotos .wide {
    grid-column: span 3;
  }
  #home #case .conteiner .fotos .tall {
    grid-row: span 1;
    grid-column: span 3;
  }
  #home #case .conteiner .fotos .big {
    grid-column: span 3;
    grid-row: span 1;
  }
  #service #banner {
    height: 60vh;
  }
  #service #servicos .content {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 100px 100px 1fr;
        grid-template-columns: 1fr 100px 100px 1fr;
    grid-auto-rows: auto;
  }
  #service #servicos .content .big {
    grid-column: span 4;
  }
  #service #servicos .content > div img {
    height: 350px;
  }
  #service #servicos .content .orderUm {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #service #servicos .content .orderDois {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 3% 0;
  }
  #service #servicos .content .orderTres {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding: 3% 0;
  }
  #service #servicos .content .orderQuatro {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  #service #voce .container {
    width: 90% !important;
    max-width: 100vw;
  }
  #service #voce .container .youtube {
    width: 90% !important;
  }
}

@media (max-width: 845px) {
  #home #banner {
    padding-bottom: 5%;
  }
  #home #banner .banner-content {
    margin: 10px;
    width: 45vw;
  }
  #home #banner .banner-content h1 {
    font-size: 2.5rem;
  }
  #home #banner .banner-content p {
    font-size: 1.3rem;
  }
  #home #banner .banner-content .banner-botoes {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  #home #banner .banner-content .banner-botoes div {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 20px;
  }
  #home #banner .banner-content .banner-img {
    width: 45vw;
  }
  header .tamanho nav.desktop {
    display: none;
  }
  header .tamanho nav.mobile {
    display: block;
  }
}

@media (max-width: 950px) {
  #home #zap {
    background-position: right;
  }
}

.slide-netflix {
  position: relative;
  width: 100vw;
}

.slide-netflix .swiper-container {
  height: 100%;
  overflow: hidden;
}

.slide-netflix .swiper-container .swiper-slide {
  width: 25%;
  min-width: 250px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.slide-netflix .swiper-container .swiper-slide img {
  display: block;
  width: 650px;
  height: 312px;
}

@media (max-width: 425px) {
  .slide-netflix .swiper-container .swiper-slide {
    width: 88%;
  }
}
/*# sourceMappingURL=style.css.map */