.slide-netflix {
    position: relative;
    width: 100vw;

    .swiper-container {
        height: 100%;
        overflow: hidden;

        .swiper-slide {
            width: 25%;
            min-width: 250px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            transition: .3s all;

            img {
                display: block;
                width: 650px;
                height: 312px;
            }
        }
    }
}
@media (max-width: 425px) {
    .slide-netflix {
        .swiper-container {
            .swiper-slide {
                width: 88%;
            }
        }
    }
}