#home {
    #zap {
        background: url(../img/zap/back.svg);
        background-size: cover;
        height: auto;
        min-height: 520px;

        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        color: #fff;

        .conteiner {
            width: 90%;
            max-width: 1100px;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: flex-end;

            .titulo {
                width: 100%;
                max-width: 400px;
                h3 {
                    color: inherit;
                    font-weight: 900;
                    line-height: 50px;
                }

                p {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 25px;
                }

            }

            h3 {
                font-weight: 900;
                color: #282828;
                font-size: 2.5rem;
            }
        }
    }
}